<!--
============================================
Title: about.component.html
Author: Oksana Kustova
Date: 02/02/2022
Description: HTML template for AboutComponent.
===========================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <h1 class="header">GET IN TOUCH</h1>

    </div>
  </div>

  <div fxFlex class="about">
    <div fxLayout="column">

      <div fxFlex class="item">
        <mat-card-title class="card-title-icon">
          <mat-icon color="primary"> location_on</mat-icon>
        </mat-card-title>
        <br />
        <mat-card-content class="align-center">
          <p>111 Green street</p>
          <p>Seattle, Washington</p>
        </mat-card-content>
      </div>

      <div fxFlex  class="item">
        <mat-card-title class="card-title-icon">
          <mat-icon color="primary">contact_phone</mat-icon>
        </mat-card-title>
        <br />
        <mat-card-content class="align-center">
          <p>Phone: (111) 111-1111</p>
          <p>Fax: (111) 111-1111</p>
        </mat-card-content>
      </div>

      <div fxFlex  class="item">
        <mat-card-title class="card-title-icon">
          <mat-icon color="primary">email</mat-icon>
        </mat-card-title>
        <br />
        <mat-card-content class="align-center">
          <p>Email: info@nodebucket.com</p>
        </mat-card-content>
      </div>

    </div>
  </div>
</div>


