/**
============================================
Title: contact.component.scss
Author: Oksana Kustova
Date: 3/27/2022
Description: style for component
===========================================
*/

.about {
  padding-top: 5em;
  padding-left: 10em;

  width: 70%;

}

.header {
  padding-top: 4em;
  padding-left: 6em;
  font-size: 3em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(60, 78, 94);
}


.card-title-icon, .mat-icon {
  font-size: 30px;
  padding-bottom: 20px;
}

.align-center {

  font-size: 30px;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}
.item {

  padding-bottom: 30px;
}

.mat-icon {
  color: rgb(67, 141, 131);
}
img {
width: 920px;
  margin: auto;
  padding-top: 5em;

  }
