/**
============================================
Title: auth-layout.component.scss
Author: Oksana Kustova
Date: 3/27/2022
Description: style for component
===========================================
*/
.signin-div {
  margin: 60px auto;
  width: 40%;
}
.signin-container {

  text-align: center;
}
.title {
padding: 10px;
color: primary;

}

.msg-error {
  color:red;
}
