<!--
============================================
Title: about.component.html
Author: Oksana Kustova
Date: 02/02/2022
Description: HTML template for AboutComponent.
===========================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">

      <img
        mat-card-image
        src="../../../assets/pexels-sharad-bhat-4007744.jpg"
      />

    </div>
  </div>

  <div fxFlex class="about">
    <div fxLayout="column">
      <p class="paragraph">
        What makes nodebucket different is its original approach to getting
        things done, in order to make task management simpler, fun, and more
        accessible to everyone. It manages to do this without compromising
        simplicity or increasing overall User-Interface bloat.
      </p>
      <p class="paragraph">
        Almost every month, the nodebucket team prepares an update that takes
        into account the wishes of customers, improves existing features and
        adds new ones. The intensive work of our team has allowed nodebucket to
        gain a strong position in the market. Today, every fourth company from
        the sector of medium and small businesses that automate business
        processes using cloud technologies uses nodebucket.
      </p>
    </div>
  </div>
</div>
