/**
============================================
Title: home.component.scss
Author: Oksana Kustova
Date: 3/27/2022
Description: style for component
===========================================
*/
.all-description {
  width: 80%;
  padding-right: 2em;
line-height: 3em;
}

  .description {
    list-style-type: square;
    font-size: 2em;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    margin-bottom: 2em;

  }

  .about {
    padding-top: 5em;

  }


  .header {
    padding-top: 4em;
    padding-left: 2em;
    font-size: 4em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(60, 78, 94);
  }


