<!--
============================================
Title: home.component.html
Author: Oksana Kustova
Date: 3/27/2022
Description: HTML template for component.
===========================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <h1 class="header">Manage Your Tasks with Us!</h1>
    </div>
  </div>

  <div fxFlex class="about">
    <div fxLayout="column">
      <ul class = "all-description">
        <li class = "description">
         service is a kanban board with lists of cards that can be used to
          manage tasks
        </li>
        <li class = "description">
          designed to manage tasks in small teams or individual users
        </li>
        <li class = "description"> the number of users is not limited </li>
        <li class = "description">
          allows you to create a task card, set a deadline and enter detailed
          information
        </li>
        <li class = "description"> free service </li>
      </ul>
    </div>
  </div>
</div>
