<!--
============================================
Title: base-layout.component.html
Author: Oksana Kustova
Date: 3/27/2022
Description: HTML template for component.
===========================================
-->

<div fxLayout="column">
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>
      <mat-toolbar-row class="navbar-container">
        <div class="logo">
          <button class="logo" routerLink="/" mat-button>nodebucket</button>
        </div>
        <div style="width: 80%">
          <div fxFlex></div>
          <div fxLayout="row wrap" fxLayoutAlign="end start">
            <div *ngIf="isLoggedIn">

              <button class="navbar-link" routerLink="/tasks" mat-button>
                Tasks
              </button>
            </div>
            <button class="navbar-link" routerLink="/about" mat-button>
              About
            </button>
            <button class="navbar-link" routerLink="/contact" mat-button>
              Contact
            </button>

            <div *ngIf="isLoggedIn" class="navbar-link">
              <p class="hello-user">Hello, {{ name }}!</p>
            </div>
            <div *ngIf="isLoggedIn">
              <button class="navbar-link" mat-button (click)="signOut()">
                <mat-icon>logout</mat-icon>
              </button>
            </div>

            <div *ngIf="!isLoggedIn">
              <button class="navbar-link" routerLink="/session/sign-in" mat-button>
                Log In
              </button>
            </div>


          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <br />
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content navbar-container">
        <p>
          &copy; {{ year | date: "yyyy" }} - nodebucket -
          <a href="https://www.bellevue.edu/" class="bu-link" target="_blank"
            >Bellevue University</a
          >
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
