<!--
============================================
Title: base-layout.component.html
Author: Oksana Kustova
Date: 3/27/2022
Description: HTML template for component.
===========================================
-->

<div fxLayout="column">
  <!-- navigation -->
  <nav fxFlex >
    <mat-toolbar>
      <mat-toolbar-row class ="navbar-container">
        <div class="logo">
          <button class="logo" routerLink="/" mat-button>nodebucket</button>
        </div>
        <div style="width: 80%">
          <div fxLayout="row wrap" fxLayoutAlign="end start">
            <button class="navbar-link" routerLink="/" mat-button>Home</button>
            <button class="navbar-link" routerLink="/about" mat-button>About</button>
            <button class="navbar-link" mat-button>Contact</button>
            <button class="navbar-link" (click)="signOut()" mat-button>
              Sign Out
            </button>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <br />
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content navbar-container">
        <p>
          &copy; {{ year | date: "yyyy" }} - nodebucket -
          <a href="https://www.bellevue.edu/" class="bu-link" target="_blank"
            >Bellevue University</a
          >
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
