/**
============================================
Title: base-layout.component.scss
Author: Oksana Kustova
Date: 3/27/2022
Description: style for component
===========================================
*/
.logo {
    margin-left: 75px;
    font-size: 24px;
    font-weight: lighter;;
  }

  .navbar-container {

    background-color: rgb(60, 78, 94);
    color:whitesmoke;
  }

  .navbar-link {
    font-size: 24px;
    font-weight: lighter;

  }

  .main-content {
    padding-left: 30px;
  }

  .footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .footer-content {
    font-size: 16px;
    font-weight: lighter;
    padding-left: 100px;
    letter-spacing: 3px;
  }

  .bu-link {
    text-decoration: none;
    color:whitesmoke;
  }

  .bu-link:hover {
    text-decoration: underline;
  }
